Source: lliurex-backup
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Angel Berlanas Vicente <lliurex_devel2@edu.gva.es>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, Alfons Lloret Sananton <lliurex_devel5@edu.gva.es>, Enrique Medina Gremaldos <lliurex_devel4@edu.gva.es>, David Montalva Furio <montalva_dav@gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>
Build-Depends: llxsrchelper,debhelper (>= 7.0), llxcfg-dev, zero-dev, librsvg2-bin
Standards-Version: 3.9.3

Package: lliurex-backup
Architecture: all
Depends: python, n4d, n4d-apache, n4d-cups, n4d-dnsmasq, n4d-hostname, n4d-ldap, n4d-lliurex-base, n4d-mysql, n4d-netfolders, n4d-network, n4d-pamnss, n4d-proxy, n4d-samba, n4d-server-plugins, n4d-backup-manager, ${misc:Depends}
Description: Lliurex backup GUI
 GUI to backup and restore lliurex services and folders

